@use "./base.scss";

// put your custom CSS here!
// Add this to your variables.scss file:
// Add these to your variables.scss file:

// Main CSS file
@use "./variables.scss" as *;
@use "./syntax.scss";
@use "./callouts.scss";

html {
  font-size: percentage(1);
  scroll-behavior: smooth;
  text-size-adjust: none;
  overflow-x: hidden;
  width: 100vw;
}

.page {
  max-width: 100%;
}

.center-container {
  max-width: 40rem;
  margin: 0 auto;
  padding-top: 4rem;

  @media all and ($mobile) {
    padding-top: 0rem;
  }
}

.toc.desktop-only {
  max-height: 60%;
}

.page>#quartz-body .sidebar.left {
  padding-top: 2rem !important;
}
.page>#quartz-body .sidebar.right {
  padding-top: 5rem !important;
}

body,
section {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--light);
  font-family: var(--bodyFont);
  color: var(--darkgray);
}

h1, h2 {
  font-family: Bebas Neue, Roboto, Roboto Condensed, sans-serif;
  letter-spacing: .08em;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}

/* increase the size on desktop */
@media all and ($desktop) {
  html {
    font-size: percentage($font-scale);
  }

  .text-highlight {
    background-color: var(--textHighlight);
    padding: 0 0.1rem * $spacing-scale;
    border-radius: 5px;
  }

  a {
    &.internal {
      padding: 0 0.1rem * $spacing-scale;
      border-radius: 5px;
      line-height: 1.4rem * $font-scale;
    }

    &.external .external-icon {
      margin: 0 0.15em * $spacing-scale;
    }
  }

  .page {
    & article {
      & > h1 {
        font-size: 2rem * $font-scale;
      }

      & li:has(> input[type="checkbox"]) {
        padding-left: 0;
      }
    }

    & > #quartz-body {
      column-gap: #{map-get($desktopGrid, columnGap)};
      row-gap: #{map-get($desktopGrid, rowGap)};

      & .sidebar {
        gap: 2rem * $spacing-scale;
        padding: $topSpacing * $spacing-scale 2rem * $spacing-scale 2rem * $spacing-scale 2rem * $spacing-scale;
      }

      & .page-header,
      & .page-footer {
        margin-top: 1rem * $spacing-scale;
      }
    }
  }

  .recent-li .section .tags {
    justify-content: flex-end;
  }

  // Typography improvements with scaled sizes and margins
  h1 {
    font-size: 2rem * $font-scale;
    margin-top: 2.25rem * $spacing-scale;
    margin-bottom: 1rem * $spacing-scale;
  }

  h2 {
    font-size: 1.6rem * $font-scale;
    margin-top: 1.9rem * $spacing-scale;
    margin-bottom: 1rem * $spacing-scale;
  }

  h3 {
    font-size: 1.12rem * $font-scale;
    margin-top: 1.62rem * $spacing-scale;
    margin-bottom: 1rem * $spacing-scale;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem * $font-scale;
    margin-top: 1.5rem * $spacing-scale;
    margin-bottom: 1rem * $spacing-scale;
  }

  figure[data-rehype-pretty-code-figure] {
    margin: 0;
    line-height: 1.6rem * $font-scale;

    & > [data-rehype-pretty-code-title] {
      font-size: 0.9rem * $font-scale;
      padding: 0.1rem * $spacing-scale 0.5rem * $spacing-scale;
      margin-bottom: -0.5rem * $spacing-scale;
    }
  }

  pre {
    padding: 0 0.5rem * $spacing-scale;

    & > code {
      font-size: 0.85rem * $font-scale;
      padding: 0.5rem * $spacing-scale 0;

      & > [data-line] {
        padding: 0 0.25rem * $spacing-scale;

        &::before {
          margin-right: 1rem * $spacing-scale;
        }
      }
    }
  }

  code {
    font-size: 0.9em * $font-scale;
    padding: 0.1rem * $spacing-scale 0.2rem * $spacing-scale;
  }

  tbody,
  li,
  p {
    line-height: 1.6rem * $font-scale;
  }

  .table-container {
    & > table {
      margin: 1rem * $spacing-scale;
      padding: 1.5rem * $spacing-scale;

      th,
      td {
        min-width: 75px;
      }

      & > * {
        line-height: 2rem * $font-scale;
      }
    }
  }

  th {
    padding: 0.4rem * $spacing-scale 0.7rem * $spacing-scale;
  }

  td {
    padding: 0.2rem * $spacing-scale 0.7rem * $spacing-scale;
  }

  img {
    margin: 1rem * $spacing-scale 0;
  }

  hr {
    margin: 2rem * $spacing-scale auto;
  }

  ul.overflow,
  ol.overflow {
    & > li:last-of-type {
      margin-bottom: 30px * $spacing-scale;
    }
  }

  .transclude {
    ul {
      padding-left: 1rem * $spacing-scale;
    }
  }
}

.callout {
  &[data-callout="bible"] {
    --color: var(--secondary);
    --border: #448aff44;
    --bg: #448aff05;
    --callout-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-book-open-text'%3E%3Cpath d='M12 7v14'%3E%3C/path%3E%3Cpath d='M16 12h2'%3E%3C/path%3E%3Cpath d='M16 8h2'%3E%3C/path%3E%3Cpath d='M3 18a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h5a4 4 0 0 1 4 4 4 4 0 0 1 4-4h5a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-6a3 3 0 0 0-3 3 3 3 0 0 0-3-3z'%3E%3C/path%3E%3Cpath d='M6 12h2'%3E%3C/path%3E%3Cpath d='M6 8h2'%3E%3C/path%3E%3C/svg%3E");
  }

  &.bible ol {
    padding-left: 1.5rem;
  }

  .callout-icon {
    margin-top: 1px;
  }

  &[data-callout="egw"] {
    --color: #931b1d;
    --border: #b7080894;
    --bg: #58060604;
    --callout-icon: url("data:image/svg+xml,%3Csvg%20width%3D%22230%22%20height%3D%22144%22%20viewBox%3D%220%200%20192%20120%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cg%20clip-path%3D%22url(%23clip0_67_30)%22%3E%20%3Cpath%20d%3D%22M143.8%2025.3C147.8%2020.7%20150.1%2015.9%20152.8%2011.4C153.4%2010.4%20153.8%209.30003%20154.4%208.30003C155.2%207.00003%20156%205.40003%20157.7%205.70003C159.7%206.00003%20159.1%208.10003%20159.2%209.40003C159.7%2018.4%20158.1%2027.3%20157.5%2036.3C157.2%2041.2%20156.9%2046.2%20156.6%2051.7C159.5%2050.8%20159.8%2048.6%20160.7%2047C163.6%2041.5%20166.7%2036.2%20172%2032.6C175.9%2029.9%20180.1%2029%20184.2%2031.5C188.8%2034.3%20191.9%2038.4%20192%2044.1C192.1%2046.7%20191.2%2048.1%20188.4%2046.5C182.1%2043%20176.9%2045.1%20172.1%2049.6C166.8%2054.6%20162.8%2060.5%20160.3%2067.3C154.5%2082.6%20148.9%2097.9%20143.1%20113.1C142.1%20115.6%20141.7%20120.1%20138.7%20119.4C135.4%20118.6%20136.7%20114.2%20137.1%20111.5C139.1%2096.3%20141.6%2081.2%20143.7%2066C144.7%2058.7%20145.7%2051.3%20145.6%2043.3C143.1%2044.3%20142.6%2046.1%20141.8%2047.6C134.9%2060.5%20131.1%2074.3%20127%2088C124.5%2096.5%20122%20105%20117.5%20112.7C115.7%20115.7%20113.7%20120.6%20109.8%20119.1C105.9%20117.5%20107.8%20112.6%20108.7%20109.2C113.7%2090.6%20119%2072%20124.2%2053.4C127.5%2041.5%20130%2029.4%20129.5%2017C129.4%2014.7%20130.1%2011.6%20127.4%2011C125%2010.4%20123.6%2013.3%20122.3%2015.2C116.1%2024.8%20114.7%2035.3%20116%2046.4C116.2%2048.3%20117.5%2051%20115.1%2051.7C112.8%2052.4%20111.4%2049.8%20110.3%2048C107.3%2043%20107.1%2037.5%20108%2032C109.6%2022.5%20113.2%2013.8%20119.3%206.20003C121.4%203.60003%20123.8%201.30003%20127.3%200.500026C134.3%20-0.999974%20138.8%201.60003%20140.8%208.90003C141.5%2011.4%20141.7%2014.1%20142%2016.8C142.3%2019.3%20142.2%2022%20143.8%2025.3Z%22%20fill%3D%22%23931b1d%22%2F%3E%20%3Cpath%20d%3D%22M44.6%20106C46.7%20104.1%2049.1%20102.5%2051%20100.4C57%2093.5001%2060.7%2085.6001%2060.1%2076.3001C59.5%2067.5001%2052.7%2063.8001%2044.9%2068.1001C39.8%2070.9001%2036.9%2075.5001%2035%2080.8001C33.1%2086.1001%2032.6%2091.5001%2032%2097.0001C31.8%2098.5001%2032.5%20100.8%2030.2%20101.1C27.8%20101.4%2027.4%2099.0001%2026.8%2097.5001C26.3%2096.3001%2026.2%2094.9001%2026.1%2093.6001C25.6%2085.3001%2028.6%2077.9001%2032.8%2071.0001C36.7%2064.3001%2042.4%2059.1001%2047.6%2053.5001C49.3%2051.7001%2050.7%2049.8001%2049.2%2047.3001C46.7%2043.1001%2048.7%2040.9001%2052%2038.3001C60%2032.0001%2064.2%2024.0001%2062.3%2013.4001C61.5%208.70008%2059.6%205.00008%2055%203.50008C50.2%202.00008%2046.2%203.80008%2042.7%207.10008C36.1%2013.3001%2032.6%2021.2001%2031.6%2030.0001C31.1%2034.5001%2029%2036.5001%2024.7%2037.8001C13%2041.3001%204.4%2048.3001%201.1%2060.6001C0.9%2061.2001%200.4%2061.6001%200%2062.1001C0%2066.1001%200%2070.1001%200%2074.1001C0.3%2074.4001%200.8%2074.7001%201%2075.1001C2%2077.0001%202.7%2079.5001%205.5%2078.9001C8.1%2078.3001%207.4%2075.8001%207.7%2073.9001C7.8%2073.1001%207.8%2072.2001%207.9%2071.4001C9.8%2060.4001%2015.5%2052.0001%2024.9%2046.2001C26.6%2045.2001%2029.1%2043.9001%2030.4%2045.6001C31.8%2047.4001%2029.2%2048.6001%2028.1%2049.9001C19.4%2060.4001%2012%2071.5001%2010.4%2085.6001C9.2%2095.9001%2013.6%20108.3%2021.2%20109.8C29.4%20111.4%2036.4%20114.6%2043.7%20118.2C49.3%20121%2056.2%20115.7%2056.2%20109.9C56.2%20106.9%2054.9%20105.8%2052.2%20107.1C50.6%20107.9%2049.1%20109.1%2047.5%20110C45.9%20111%2044.1%20112.2%2042.6%20110.3C41%20108.1%2043.3%20107.2%2044.6%20106ZM43.1%2029.3001C44%2024.1001%2045.9%2019.5001%2049.7%2015.7001C50.7%2014.7001%2051.8%2013.8001%2053.2%2014.6001C54.5%2015.3001%2054.6%2016.7001%2054.7%2018.2001C54.1%2023.6001%2051.6%2028.1001%2047%2031.4001C46%2032.1001%2045%2032.7001%2043.8%2031.9001C42.9%2031.3001%2042.9%2030.2001%2043.1%2029.3001ZM40.6%2098.2001C39.4%2097.7001%2039.1%2096.4001%2039.3%2095.2001C40.2%2089.4001%2042%2084.0001%2045.1%2079.0001C45.9%2077.7001%2047.3%2076.1001%2049.2%2077.0001C50.8%2077.8001%2050.1%2079.7001%2050.2%2081.3001C49.3%2086.9001%2047.7%2092.4001%2043.6%2096.9001C42.8%2097.8001%2041.9%2098.7001%2040.6%2098.2001Z%22%20fill%3D%22%23931b1d%22%2F%3E%20%3Cpath%20d%3D%22M99.3998%2049.5C95.9998%2051.9%2092.5998%2054.3%2088.4998%2055.4C85.2998%2056.3%2082.9998%2055.2%2081.1998%2052.6C78.2998%2048.2%2078.8998%2044.3%2083.2998%2040.8C87.0998%2037.8%2091.1998%2035.2%2094.8998%2032.2C99.8998%2028.2%20104.1%2023.4%20105.9%2017.1C107.1%2012.8%20107.4%208.39998%20103.7%204.99998C100.3%201.89998%2096.1998%202.69998%2092.3998%203.99998C80.9998%207.89998%2074.1998%2016.5%2069.1998%2026.9C66.2998%2033%2065.9998%2040.7%2058.0998%2043.5C56.2998%2044.1%2056.0998%2046.8%2056.2998%2048.9C56.3998%2050.6%2057.1998%2052.1%2059.0998%2051.5C63.6998%2050.1%2063.8998%2052.7%2064.1998%2056.2C65.5998%2071.2%2072.4998%2075.8%2086.8998%2071.5C87.1998%2071.4%2087.5998%2071.3%2087.8998%2071.2C90.5998%2070%2091.5998%2070.9%2091.3998%2073.7C90.6998%2084.8%2088.2998%2095.4%2082.2998%20105C80.3998%20108%2077.9998%20110.6%2074.1998%20109C70.3998%20107.4%2069.7998%20103.8%2070.7998%20100.1C71.7998%2096.4%2072.9998%2092.8%2073.9998%2089.1C74.4998%2087%2074.7998%2084.4%2072.4998%2083.3C69.6998%2082%2068.1998%2084.5%2067.0998%2086.5C63.2998%2093.6%2062.8998%20101.2%2065.0998%20108.8C67.9998%20118.7%2075.9998%20121.6%2084.8998%20116.2C86.5998%20115.2%2088.0998%20113.9%2089.5998%20112.5C102.2%20100.1%20106%2084.4%20106.4%2067.4C106.6%2062.2%20105.9%2057.1%20105.2%2052C104.3%2047.2%20103.3%2046.8%2099.3998%2049.5ZM80.3998%2030.4C80.8998%2024.8%2089.1998%2014.8%2094.4998%2013.4C97.3998%2012.6%2098.5998%2014.1%2098.4998%2016.7C98.3998%2021.1%2086.2998%2032.8%2081.4998%2032.8C80.3998%2032.7%2080.1998%2031.7%2080.3998%2030.4Z%22%20fill%3D%22%23931b1d%22%2F%3E%20%3C%2Fg%3E%20%3C%2Fsvg%3E");
  }

  &.egw {
    a, strong {
      color: #931b1d;
    }
  }
}

html[saved-theme="dark"] {
  .callout {
    &.egw {
      strong {
        color: #e2e2e2;
      }
      a {
        color: #b74647;
      }
    }

    &[data-callout="egw"] {
      --color: #b74647;
      --border: #925f60c2;
    }
  }
}

@media all and ($desktop) {
  .callout {
    .callout-icon {
      margin-top: 3px;
    }

    .fold-callout-icon {
      margin-top: 3px;
    }
  }
}

#explorer-content ul li>a {
  font-weight: lighter;
}

#explorer-content li.current a{
  color: var(--tertiary);
  font-weight: bold;
}

/* recent notes list */
li.recent-li>.section {
  grid-template-columns: fit-content(8em) 3fr 1fr;
  display: grid;
  align-items: baseline;
  align-content: stretch;
  justify-content: center;
  gap: 23px;

  .tags {
    justify-content: flex-end;
  }
}

@media (max-width: 800px) {
  li.recent-li>.section>.tags {
    display: none;
  }
}

ul.recent-ul {
  margin-top: 2em;
  padding-left: 0;
  list-style: none;
}

.content-meta a {
  color: var(--gray);
  margin-top: 0;
}

footer ul {
  flex-wrap: wrap;
}

/* search */
.search>#search-container>#search-space>#search-layout[data-preview]>#results-container {
  flex: 0 0 100%;
}

@media all and ($desktop) {
  .search>#search-container>#search-space>#search-layout[data-preview]>#results-container {
    flex: 0 0 min(30%, 450px);
  }
}

.search>#search-container>#search-space>#search-layout>#preview-container {
  display: none;
}

@media all and ($desktop) {
  .search>#search-container>#search-space>#search-layout>#preview-container {
    display: block;
  }
}

footer.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media all and ($mobile) {
  footer.footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-components {
    align-self: flex-end;
    margin-top: 2em;
  }
}

.footer-components {
  display: flex;
  align-items: center;

  button.darkmode {
    opacity: .7;
  }
}
.graph>#global-graph-icon {
  opacity: 1;
  color: var(--darkgray)
}

.share-panel {
  display: flex;
  gap: 1em;
}

#copy-link {
  color: var(--secondary);
  cursor: pointer;
}

#copied-popup {
  display: none;
}

@media all and ($mobile) {
  .page>#quartz-body .sidebar.right {
      position: initial;
      height: fit-content;
      flex-direction: column;
      width: 100%;
      padding: 0 !important;
  }

  .search {
    flex-grow: 4;
  }

  .page>#quartz-body .sidebar.left {
    justify-content: space-between;
    gap: 1rem
  }

  .page-title a svg {
    width: 4rem;
  }
}

.search {
  max-width: 30rem;
}

.meta-item {
  display: inline-flex;
  gap: 4px;
  align-items: center;
}

.search>.search-button {
  background-color: var(--highlight);
  padding: 19px 3px;
  font-size: .88em;
  border-radius: 7px; 

  svg {
    min-width: 18px;
    margin: 0 .9rem 0 .5rem;
  }
}

@media all and ($mobile) {
  .hamburder-menu {
    cursor: pointer;
  }

  .sidebar.left {
    display: flex;
    flex-wrap: wrap;
  }
  
  .sidebar.left > h2,
  .container > div {
    flex: 1; /* Default spacing for the other elements */
  }
  
  .sidebar.left > div:nth-of-type(3) {
    flex-basis: 100%; /* Forces this div to start on a new row */
  }
}

@media not (min-width: 1200px) {
  .backlinks>.overflow {
      height: auto;
  }
}

/* scroll bar */
/* For webkit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.7); /* Semi-transparent thumb */
  border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(136, 136, 136, 0); /* Fully transparent on hover */
}

::-webkit-scrollbar-track {
  background-color: rgba(241, 241, 241, 0.2); /* Optional: Transparent track */
  border-radius: 4px; /* Matches the thumb */
}

/* Optional for Firefox */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: rgba(136, 136, 136, 0.7) transparent; /* Semi-transparent by default */
}

body {
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

::-webkit-scrollbar {
  display: none; /* Hides scrollbar in webkit-based browsers */
}

#explorer-content li a {
  line-height: 1.45rem;
  display: inline-block;
  margin-bottom: 5px;
}

#toc-content ul>li>a, .backlinks>ul>li>a {
  line-height: 1.4rem;
  display: inline-block;
  margin-bottom: 6px;
}

a.tag-link {
  font-weight: 400;
}

ul.tags a.tag-link {
  font-size: .95rem;
}

@media print {
  .no-print {
      display: none !important;
  }
  .print-only {
      display: block !important;
  }

  h1 {
    margin-top: 0 !important;
    font-size: 2.5rem;
  }

  /* Ensure all collapsible callouts are fully expanded */
  .callout.is-collapsible {
      max-height: none !important; /* Remove height restriction */
  }

  /* If needed, hide the icon indicating collapsibility */
  .fold-callout-icon {
      display: none !important;
  }

  /* Remove the collapsed state styling */
  .callout.is-collapsible.is-collapsed {
      max-height: none !important; /* Override collapsed max-height */
  }

  .callout .callout-icon{
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .center-container p > img {
    padding: 0 10%;
    border-right: #448aff05 solid 1px;
  }

  .center-container p img {
    width: 80%;
  }
}

@page {
  margin-bottom: 20mm; /* Increase this value for more spacing */
  margin-top: 20mm;    /* Adjust for top header if needed */
}

p.print-meta {
  font-style: italic;
  font-weight: 600;
  display: none;
  opacity: .5;
}

.print-button {
  padding-right: 9px;
  cursor: pointer;
}

/* Make first title big */
.popover-hint > h1:first-child {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.forward-link {
  color: var(--secondary);
  font-weight: 600;
  text-decoration: none;
  transition: color .2s;
  background-color: var(--highlight);
  border-radius: 5px;
  padding: 0 .1rem;
  line-height: 1.4rem;
  text-decoration: none;
}

.tts iframe {
  border-radius: 5px;
}
.sticky-audio-player {
  position: fixed;
  bottom: -5px; /* Adjust as needed for the initial position */
  z-index: 100;
  transition: bottom 0.3s ease, opacity 0.3s ease; /* Smooth transition */
  opacity: 1; /* Fully visible by default */

  &.hidden {
    bottom: -50px; /* Moves the player down when hidden */
    opacity: 0; /* Makes it transparent */
  }

  iframe {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
#tts {
  transition: all 0.3s ease;
}

@media all and ($mobile) {
  .sticky-audio-player {
    iframe {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}