@use "./base.scss";

// put your custom CSS here!
// Add this to your variables.scss file:
// Add these to your variables.scss file:

// Main CSS file
@use "./variables.scss" as *;
@use "./syntax.scss";
@use "./callouts.scss";

html {
  font-size: percentage(1);
  scroll-behavior: smooth;
  text-size-adjust: none;
  overflow-x: hidden;
  width: 100vw;
}

.page {
  max-width: 100%;
}

.center-container {
  max-width: 40rem;
  margin: 0 auto;
  padding-top: 4rem;

  @media all and ($mobile) {
    padding-top: 0rem;
  }
}

.toc.desktop-only {
  max-height: 60%;
}

.page>#quartz-body .sidebar.left {
  padding-top: 2rem !important;
}
.page>#quartz-body .sidebar.right {
  padding-top: 5rem !important;
}

body,
section {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--light);
  font-family: var(--bodyFont);
  color: var(--darkgray);
}

h1, h2 {
  font-family: Bebas Neue, Roboto, Roboto Condensed, sans-serif;
  letter-spacing: .08em;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}

/* increase the size on desktop */
@media all and ($desktop) {
  html {
    font-size: percentage($font-scale);
  }

  .text-highlight {
    background-color: var(--textHighlight);
    padding: 0 0.1rem * $spacing-scale;
    border-radius: 5px;
  }

  a {
    &.internal {
      padding: 0 0.1rem * $spacing-scale;
      border-radius: 5px;
      line-height: 1.4rem * $font-scale;
    }

    &.external .external-icon {
      margin: 0 0.15em * $spacing-scale;
    }
  }

  .page {
    & article {
      & > h1 {
        font-size: 2rem * $font-scale;
      }

      & li:has(> input[type="checkbox"]) {
        padding-left: 0;
      }
    }

    & > #quartz-body {
      column-gap: #{map-get($desktopGrid, columnGap)};
      row-gap: #{map-get($desktopGrid, rowGap)};

      & .sidebar {
        gap: 2rem * $spacing-scale;
        padding: $topSpacing * $spacing-scale 2rem * $spacing-scale 2rem * $spacing-scale 2rem * $spacing-scale;
      }

      & .page-header,
      & .page-footer {
        margin-top: 1rem * $spacing-scale;
      }
    }
  }

  .recent-li .section .tags {
    justify-content: flex-end;
  }

  // Typography improvements with scaled sizes and margins
  h1 {
    font-size: 2rem * $font-scale;
    margin-top: 2.25rem * $spacing-scale;
    margin-bottom: 1rem * $spacing-scale;
  }

  h2 {
    font-size: 1.6rem * $font-scale;
    margin-top: 1.9rem * $spacing-scale;
    margin-bottom: 1rem * $spacing-scale;
  }

  h3 {
    font-size: 1.12rem * $font-scale;
    margin-top: 1.62rem * $spacing-scale;
    margin-bottom: 1rem * $spacing-scale;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem * $font-scale;
    margin-top: 1.5rem * $spacing-scale;
    margin-bottom: 1rem * $spacing-scale;
  }

  figure[data-rehype-pretty-code-figure] {
    margin: 0;
    line-height: 1.6rem * $font-scale;

    & > [data-rehype-pretty-code-title] {
      font-size: 0.9rem * $font-scale;
      padding: 0.1rem * $spacing-scale 0.5rem * $spacing-scale;
      margin-bottom: -0.5rem * $spacing-scale;
    }
  }

  pre {
    padding: 0 0.5rem * $spacing-scale;

    & > code {
      font-size: 0.85rem * $font-scale;
      padding: 0.5rem * $spacing-scale 0;

      & > [data-line] {
        padding: 0 0.25rem * $spacing-scale;

        &::before {
          margin-right: 1rem * $spacing-scale;
        }
      }
    }
  }

  code {
    font-size: 0.9em * $font-scale;
    padding: 0.1rem * $spacing-scale 0.2rem * $spacing-scale;
  }

  tbody,
  li,
  p {
    line-height: 1.6rem * $font-scale;
  }

  .table-container {
    & > table {
      margin: 1rem * $spacing-scale;
      padding: 1.5rem * $spacing-scale;

      th,
      td {
        min-width: 75px;
      }

      & > * {
        line-height: 2rem * $font-scale;
      }
    }
  }

  th {
    padding: 0.4rem * $spacing-scale 0.7rem * $spacing-scale;
  }

  td {
    padding: 0.2rem * $spacing-scale 0.7rem * $spacing-scale;
  }

  img {
    margin: 1rem * $spacing-scale 0;
  }

  hr {
    margin: 2rem * $spacing-scale auto;
  }

  ul.overflow,
  ol.overflow {
    & > li:last-of-type {
      margin-bottom: 30px * $spacing-scale;
    }
  }

  .transclude {
    ul {
      padding-left: 1rem * $spacing-scale;
    }
  }
}

.callout {
  &[data-callout="bible"] {
    --color: var(--secondary);
    --border: #448aff44;
    --bg: #448aff05;
    --callout-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-book-open-text'%3E%3Cpath d='M12 7v14'%3E%3C/path%3E%3Cpath d='M16 12h2'%3E%3C/path%3E%3Cpath d='M16 8h2'%3E%3C/path%3E%3Cpath d='M3 18a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h5a4 4 0 0 1 4 4 4 4 0 0 1 4-4h5a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-6a3 3 0 0 0-3 3 3 3 0 0 0-3-3z'%3E%3C/path%3E%3Cpath d='M6 12h2'%3E%3C/path%3E%3Cpath d='M6 8h2'%3E%3C/path%3E%3C/svg%3E");
  }

  &.bible ol {
    padding-left: 1.5rem;
  }

  .callout-icon {
    margin-top: 1px;
  }
}

@media all and ($desktop) {
  .callout {
    .callout-icon {
      margin-top: 3px;
    }

    .fold-callout-icon {
      margin-top: 3px;
    }
  }
}

#explorer-content ul li>a {
  font-weight: lighter;
}

#explorer-content li.current a{
  color: var(--tertiary);
  font-weight: bold;
}

/* recent notes list */
li.recent-li>.section {
  grid-template-columns: fit-content(8em) 3fr 1fr;
  display: grid;
  align-items: baseline;
  align-content: stretch;
  justify-content: center;
  gap: 23px;

  .tags {
    justify-content: flex-end;
  }
}

@media (max-width: 800px) {
  li.recent-li>.section>.tags {
    display: none;
  }
}

ul.recent-ul {
  margin-top: 2em;
  padding-left: 0;
  list-style: none;
}

.content-meta a {
  color: var(--gray);
  margin-top: 0;
}

footer ul {
  flex-wrap: wrap;
}

/* search */
.search>#search-container>#search-space>#search-layout[data-preview]>#results-container {
  flex: 0 0 100%;
}

@media all and ($desktop) {
  .search>#search-container>#search-space>#search-layout[data-preview]>#results-container {
    flex: 0 0 min(30%, 450px);
  }
}

.search>#search-container>#search-space>#search-layout>#preview-container {
  display: none;
}

@media all and ($desktop) {
  .search>#search-container>#search-space>#search-layout>#preview-container {
    display: block;
  }
}

footer.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media all and ($mobile) {
  footer.footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .darkmode-toggle {
    align-self: flex-end;
    margin-top: 2em;
  }
}

.share-panel {
  display: flex;
  gap: 1em;
}

#copy-link {
  color: var(--secondary);
  cursor: pointer;
}

#copied-popup {
  display: none;
}

@media all and ($mobile) {
  .page>#quartz-body .sidebar.right {
      position: initial;
      height: fit-content;
      flex-direction: column;
      width: 100%;
      padding: 0 !important;
  }

  .search {
    flex-grow: 1;
  }

  .page>#quartz-body .sidebar.left {
    justify-content: space-between;
    gap: 1rem
  }

  .page-title a svg {
    width: 4rem;
  }
}

.search {
  max-width: 30rem;
}

.meta-item {
  display: inline-flex;
  gap: 4px;
  align-items: center;
}

.search>.search-button {
  background-color: var(--highlight);
  padding: 19px 3px;
  font-size: .88em;
  border-radius: 7px; 

  svg {
    min-width: 18px;
    margin: 0 .9rem 0 .5rem;
  }
}